.img_menu {
    width: 80px;
}

.navbar {
    background-color: #25283D;
    color: #ffffff;
    border-radius: 4px;
    width: 100vw;
    max-width: 820px;
    margin: 20px auto 0;
}

.navbar .menu {
    display: flex;
    position: relative;
  }